:root{
  //global
  --c-primary: orange !important;
  // header
  --height-header: 90px;
  --header-shadow: 0 2px 3px rgba(0,0,0,0.1);
  // Confidence Bar
  --height-confidence-bar: 50px;
  --c-confidence-bar: orange;
  --button-background: #C89328;
   /* Navigation */
 --nav-font-weight: 700;
 --nav-font-size: 13px;
 --nav-font-transform: uppercase;
}
:root.theme-3{
  direction: rtl;
}
