:root{
  //global
  --c-primary: orange !important;
  // header
  --height-header: 90px;
  --header-shadow: 0 2px 3px rgba(0,0,0,0.1);
  // Confidence Bar
  --height-confidence-bar: 50px;
  --c-confidence-bar: orange;
  --button-background: #C89328;
   /* Navigation */
 --nav-font-weight: 700;
 --nav-font-size: 13px;
 --nav-font-transform: uppercase;
}
:root.theme-2{
  //global
  --c-primary: #bc1430 !important;
  // header
  --height-header: 70px;
  --header-shadow: 0 2px 3px rgba(0,0,0,0.1);
  // Confidence Bar
  --height-confidence-bar: 40px;
  --c-confidence-bar: #222;
  --button-background: #bc1430;
   /* Navigation */
 --nav-font-weight: 700;
 --nav-font-size: 16px;
 --nav-font-transform: none;
}
:root.theme-3{
  //global
  --c-primary: #007da3 !important;
  // header
  --height-header: 81px;
  // Confidence Bar
  --height-confidence-bar: 40px;
  --c-confidence-bar: #007da3;
  --button-background: #007da3;
   /* Navigation */
 --nav-font-weight: inherit;
 --nav-font-size: 16px;
 --nav-font-transform: uppercase;
}
